<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Chivy</title>
</head>
<body>
  <div class="grid-container">

    <header class="header">
      <div class="brand">
        <button onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">ChiVy</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="singin.html">Sing in</a>
      </div>
    </header>

    <aside class="sidebar">
      <h3>Shopping Categories</h3>
      <button class="sidebar-close-button" onclick="closeMenu()">X</button>
      <ul class="product-category">
        <li>
          <a href="index.html">Pants</a>
        </li>
        <li>
          <a href="index.html">Shirt</a>
        </li>
      </ul>
    </aside>

    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-img" src="images/slim-men-shirt-01.jpg" alt="slim men shirt">
              <div class="product-name">
                <a href="product.html">Slim men shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$40</div>
              <div class="product-ratting">4.5 stars</div>
            </div>
          </li>

          <li>
            <div class="product">
              <img class="product-img" src="images/slim-men-shirt-01.jpg" alt="slim men shirt">
              <div class="product-name">
                <a href="product.html">Slim men shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$40</div>
              <div class="product-ratting">4.5 stars</div>
            </div>
          </li>

          <li>
            <div class="product">
              <img class="product-img" src="images/slim-men-shirt-01.jpg" alt="slim men shirt">
              <div class="product-name">
                <a href="product.html">Slim men shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$40</div>
              <div class="product-ratting">4.5 stars</div>
            </div>
          </li>

          <li>
            <div class="product">
              <img class="product-img" src="images/slim-men-shirt-01.jpg" alt="slim men shirt">
              <div class="product-name">
                <a href="product.html">Slim men shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$40</div>
              <div class="product-ratting">4.5 stars</div>
            </div>
          </li>

          <li>
            <div class="product">
              <img class="product-img" src="images/slim-men-shirt-01.jpg" alt="slim men shirt">
              <div class="product-name">
                <a href="product.html">Slim men shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$40</div>
              <div class="product-ratting">4.5 stars</div>
            </div>
          </li>
        </ul>
      </div>
    </main>

    <footer class="footer">
      All right reserved.
    </footer>

    <script>
      function openMenu(){
        document.querySelector(".sidebar").classList.add("open")
      }
      function closeMenu(){
        document.querySelector(".sidebar").classList.remove("open")
      }
    </script>

  </div>
</body>
</html>